@use "../abstracts/variables" as var;
@use "sass:math";

.content {
  margin-left: var.$sidebar-width;
  padding: 0;
  flex: 1;
  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;

  .flex-item {
    width: 33.333%;
    position: relative;

    img {
      width: 100%;
      display: block;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.2s ease;
      background-color: rgba(255, 255, 255, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-family: var.$font-family-base;

      .text {
        color: var.$text-color-secondary;
        font-size: 0.67 * var.$gutter-base;
        text-align: center;
        border-top: 1px solid var.$text-color-secondary;
        border-bottom: 1px solid var.$text-color-secondary;
        line-height: 1.83 * var.$gutter-base;
        padding: 0.33 * var.$gutter-base;
      }
    }

    &:hover .overlay {
      opacity: 1;
    }
    @media (max-width: 768px) {
      width: 50%;
    }
    @media (max-width: 425px) {
      width: 100%;
    }
  }
}
